# https://pnpm.io/cli/add#--save-exact--e
# Saved dependencies will be configured with an exact version rather than using pnpm's default semver range operator.
save-exact=true

# https://pnpm.io/npmrc#public-hoist-pattern
# Default: ['*eslint*', '*prettier*']
public-hoist-pattern[] =

# https://pnpm.io/npmrc#state-dir
# The directory where pnpm creates the pnpm-state.json file that is currently used only by the update checker.
# Рекомендуем не использовать настройку

# https://pnpm.io/next/npmrc#auto-install-peers
# When true, any missing non-optional peer dependencies are automatically installed.
auto-install-peers=false
engine-strict=true
update-notifier=false
node-options=--trace-warnings --max_old_space_size=8192
verify-store-integrity=false
